.btn
  display: inline-flex
  align-items: center
  justify-content: center

#header-block, #control-bar
  background: var(--bs-dark)
#table-block
  &::-webkit-scrollbar
    width: 5px
    height: 5px
  table
    width: max-content
    min-width: 100%
  thead
    filter: drop-shadow(0 1px 1px black)
    th.date
      resize: none
    th.col-title
      resize: horizontal
      overflow: auto
      min-width: 8rem
  tbody tr
    &:hover
      filter: brightness(1.1)
      background: #AAA3
  th
    border: 0
    position: relative
    vertical-align: middle
    background-color: var(--bs-dark)
  th.date
    position: sticky
    z-index: 1019
    text-align: center
    left: 0
    width: 7.5rem
    div
      user-select: none
      display: inline-block
      height: auto
      width: 100%
    &.today
      background-color: #660
    &.holiday-True
      color: coral
    &.holiday-False .what
      color: aquamarine
  td
    border: 0
    position: relative
    max-width: 30rem
    &::before
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      pointer-events: none
      background-image: url("/todaybg.jpg")
      background-attachment: fixed
      background-position: center center
      background-size: cover
    &::after
      content: ''
      position: absolute
      top: 0
      left: 0
      height: 100%
      width: 100%
      pointer-events: none
      background: #1116

  .sticky
    position: sticky
    z-index: 1019

@media ( max-width: 767px )
  #table-block
    th.date
      width: 7rem
    thead th:not(.date)
      resize: none
      width: 7rem !important
