#table-block
  table
    margin: 0
    height: 100%
  td
    padding: .125rem
    width: calc(100% / 7)
    height: calc(100% / 7)
    border: 1px solid var(--bs-table-border-color)
    span
      margin: .125rem
      padding: .125rem
      display: inline-block
      &.today
        background-color: #663 
        border-radius: 1rem
    .textarea
      height: calc( 100% - 1.75rem )

@media ( max-width: 1023px )
  #table-block
    table, .textarea
      font-size: .5rem
    