{% extends '/base.pug' %}
{% block head %}
link(rel='stylesheet' href="{{ url_for('static', filename='css/day.css') }}")
{% endblock %}
{% block main %}
.d-flex.flex-column.h-100
  #header-block.p-2: .row.align-items-center.g-2
    .col-auto
      h4.mb-0 Hello {{username}}
    .col-auto.ms-auto
      select.form-control.form-control-sm(name="freeze")
        option(value="0" selected) 凍結0欄 
        option(value="1") 凍結1欄
        option(value="2") 凍結2欄
        option(value="3") 凍結3欄
        option(value="4") 凍結4欄
    .col-auto
      a.btn.btn-sm.btn-warning(href="/month?page={{request.args.get('page', 0)}}") 月曆
      a.ms-2.btn.btn-sm.btn-warning(href="/login") 登出
  #table-block.flex-grow-1: table.table.table-dark
    thead.sticky-top
      tr
        th.date: .d-grid: a#add-col.btn.btn-sm.btn-info(href="#") 新增欄
        {% for key in headers.keys() %}
        th.p-0
          .textarea.note-key.form-control(data-note-key="{{key}}" contenteditable="true") {{headers[key]['title']}}
        {% endfor %}
    tbody
      {% for date in data.keys() %}
      tr
        {% if today.strftime('%Y-%m-%d') == date %}
        th.date.today(data-note-date="{{date}}"): div {{date}}
        {% else %}
        th.date(data-note-date="{{date}}"): div {{date}}
        {% endif %}
        {% for key in headers %}
        td.p-0
          .textarea.note-content.form-control(data-note-date="{{date}}" data-note-key="{{key}}" contenteditable="true") {{data[date].get(key,'')['note']}}
        {% endfor %}
      {% endfor %}
  #control-bar.bg-dark: .container-fluid.py-2.gx-3
    .row.g-2
      .col-md-4
        .d-grid: .btn-group
          a#prev-dates.btn.btn-sm.btn-info(href="#") 往前
          a#today.ms-2.btn.btn-sm.btn-info(href="/?page=0") 今日
          a.ms-2#next-dates.btn.btn-sm.btn-info(href="#") 往後
      .col: .row.g-2
        .ms-auto.col-auto: input.form-control.form-control-sm(type="date" name="sdate" value="{{request.args.get('sdate', today.strftime('%Y-%m-%d'))}}")
        .col.col-md-4: input.form-control.form-control-sm(type="text" name="search" value="{{request.args.get('search', '')}}")
        .col-auto: a#search.btn.btn-sm.btn-warning(href="#") 搜尋
{% endblock %}

{% block script %}
script(src="{{ url_for('static', filename='js/day.js') }}")
{% endblock %}