{% extends '/base.pug' %}
{% block head %}
link(rel='stylesheet' href="{{ url_for('static', filename='css/day.css') }}")
{% endblock %}
{% block main %}
.d-flex.flex-column.h-100
  #table-block.flex-grow-1: table.table.table-dark
    thead.sticky-top: tr
      th.date: .d-grid: a#add-col.btn.btn-info(href="#") 新增欄
      {% for key in headers.keys() %}
      th.p-0 
        .textarea.note-key.form-control(data-note-key="{{key}}" contenteditable="true") {{headers[key]}}
      {% endfor %}
    tbody
      {% for date in data.keys() %}
      tr
        {% if today == date %}
        th.date.today(data-note-date="{{date}}"): div {{date}}
        {% else %}
        th.date(data-note-date="{{date}}"): div {{date}}
        {% endif %}
        {% for key in headers %}
        td.p-0
          .textarea.note-content.form-control(data-note-date="{{date}}" data-note-key="{{key}}" contenteditable="true") {{data[date].get(key,'')}}
        {% endfor %}
      {% endfor %}
  #control-bar.bg-dark.pt-2: .container-fluid.py-2.g-4
    .row.g-2
      .col-md-auto: .d-flex
        h3.sticky-top.pe-3
          | hello {{username}}
          a.ms-2.btn.btn-warning(href="/login") 登出
          a.ms-2.btn.btn-warning(href="/month?page={{request.args.get('page', 0)}}") 月曆
      .col.col-lg-5.ms-auto
        .d-grid: .btn-group.mb-2
          a#prev-dates.btn.btn-info(href="#") 往前
          a#today.ms-2.btn.btn-info(href="/?page=0") 今日
          a.ms-2#next-dates.btn.btn-info(href="#") 往後
    .row.g-2
      .ms-auto.col-auto: input.form-control(type="date", name="sdate")
      .col.col-md-5: input.form-control(type="text", name="search")
      .col-auto: a#search.btn.btn-warning(href="#") 搜尋
{% endblock %}

{% block script %}
script(src="{{ url_for('static', filename='js/day.js') }}") 
{% endblock %}