{% extends '/base.pug' %}
{% block head %}
link(rel='stylesheet' href="{{ url_for('static', filename='css/month.css') }}")
{% endblock %}
{% block main %}
.d-flex.flex-column.h-100
  #title.p-2: .row.align-items-center.g-2
    .col-auto
      h3.mb-0 Hello {{username}}
    .col-auto.ms-auto
        a.ms-2.btn.btn-warning(href="/login") 登出
        a.ms-2.btn.btn-warning(href="/?page={{request.args.get('page', 0)}}") 日曆
  #table-block.flex-grow-1: table.table.table-dark: tbody
    {% for week in monthCalendar %}
    tr
      {% for day in week %}
      {% if day > 0 %}
      {% with date = yearmonth + '-' + '%02d' % day %}
      td
        {% if date == today %}
        span.today {{day}}
        {% else %}
        span {{day}}
        {% endif %}
        .textarea.note-content.form-control(data-note-date="{{date}}" data-note-key="{{key}}" contenteditable="true") {{data.get(date,{}).get(key,'')['note']}}
      {% endwith %}
      {% else %}
      td
      {% endif %}
      {% endfor %}
    {% endfor %}
  #control-bar.bg-dark: .container-fluid.py-2.gx-3
    .row.g-2
      .col-md-5.ms-auto
        .d-grid: .btn-group
          a#prev-dates.btn.btn-info(href="#") 往前
          a#today.ms-2.btn.btn-info(href="/month?page=0") 本月
          a.ms-2#next-dates.btn.btn-info(href="#") 往後
      .col: .row.g-2: .d-flex.align-items-center
        .ms-auto.col-auto.text-end: h3.mb-0.me-3 {{yearmonth}}
        .col-6.col-md-3: select#header-key.form-control(name="header-key")
          {% for _key in headers.keys() %} 
          {% if _key == key %}
          option(value="{{_key}}" selected) {{headers[_key]['title']}}
          {% else %}
          option(value="{{_key}}") {{headers[_key]['title']}}
          {% endif %}
          {% endfor %}
{% endblock %}

{% block script %}
script(src="{{ url_for('static', filename='js/month.js') }}") 
{% endblock %}