{% extends '/base.pug' %}

{% block main %}
.container.h-100: .d-flex.justify-content-center.align-items-center.h-100
  div(style="min-width: 33vw; padding: 1.5rem; background: #333A; border-radius: 2rem")
    h1 Who's calendar
    form(action='/reset-pass' method='post')
      .mb-3
        label.form-label(for='username') 帳號
        input.form-control#username(type='text' name='username')
      .mb-3
        label.form-label(for='pwdhashed') 原始密碼
        input.form-control#pwdhashed(type='password' name='pwdhashed')
      .mb-3
        label.form-label(for='pwdnew') 新密碼
        input.form-control#pwdnew(type='password' name='pwdnew')
      .row
        .col-4: .d-grid: button.btn.btn-info(type='submit') 送出
{% endblock %}